.fontNavigation {
  font-size: 14px !important;
}
.fontNavigation-crypto {
  font-size: 14px !important;
  color: gray !;
}

.slider-card-image {
  height: 100px;
}

.text-desc {
  font-size: 14px;
}

.text-desc-up {
  color: #19c819;
}

.textMarket {
  font-size: 13px !important;
  font-weight: 500 !important;
}

#main-slider-container {
  width: 100%;
  height: 305px;
}
